$color1: #336699;
$color2: #f5f2d0;
$color3: #2F4858;



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: $color3;
  text-decoration: none;
}

.navbar {
  background-color:$color1;
}
.hero{
  width: 100vw;
  height: 180px;
}
.hero__image{
  width: 100vw;
  height: 180px;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $color1;
}

h1{
  color: $color2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}

h4, h3, th {
  color: $color2;
  border: solid 2px $color3;
  padding:0px 20px;
  background-color: $color3;
}
h4{
  text-decoration: none;
}
.nav__item{
  text-decoration: none;
}
th{
  white-space: nowrap;
  padding: 0px;
  margin-bottom: 50px;
  font-style: italic;
}
tr{
  margin: 25px 0px;
}
td{
  color: $color2;
  margin: 25px 0px;
  font-weight: 500;
}
h3{
  text-align: left;
}
.home__div, .disclaimer__div, .company__div, .fund__div, .data__div {
  background-color: $color1;
  padding-bottom:30px;
}

h2{
  color: $color2;
  margin-top: 0;
}
.home__button {
  padding: 5px;
}

button{
  border: 2px solid $color3;
  background-color: $color2;
  color: $color1;
  border-radius: 10px;
  width: 60%;
  margin-top: 20px;
}

p{
  color: $color2;
  padding: 0 5%;
}
li{
  color: $color2;
  padding: 5px 5% 5px 0px;
  align-content: center;
  width: 100%;
}

ul{
  list-style: none;
  align-content: left;
  padding-inline-start: 0%;
}
@media(min-width: 760px){
  .navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: $color3;
  }
  .navbar__links{
    background-color: $color3
  }
  .hero__image{
    height: 360px;
  }
  .hero{
    height: 360px;
  }
  h1{
    padding-left: 5%;
  }
  .home__div, .disclaimer__div, .company__div, .fund__div{
    width: 80%;
    align-content: center;
    margin: 0 5% 0 10%;
    justify-items: center;
    padding: 3% 0 3% 0%;
  }
  .home__div, .fund__div{
    height: 300px;
  }
  .disclaimer__div{
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .data__div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
    margin-left: 0;
    margin-right: 0;
  }
  table{
    border: solid 3px $color2;
  }
  th, td{
    padding: 20px;
    border: solid 3px $color2;
  }
  h3{
    width: 100%;
    padding: 0px;
    align-content: left;
  }
  .data__div{
    width: 90%;
    margin-left: 0%;
    display: flex;
    align-content: center;
  }
}

@media(min-width: 1440px){
  th, td{
    padding: 50px;
  }
  .home__div{
    padding: 3% 10%;
    width: 60%;
  }
  .hero__image{
    width: 80vw;
  }
  button{
    height: 50px;
  }
  .data__div{
    background-color: $color3;
  }
  .context{
    width: 60%;
    align-content: center;
    padding: 0 20%;
  }
}