.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  background-color: #2F4858;
  text-decoration: none;
}

.navbar {
  background-color: #336699;
}

.hero {
  width: 100vw;
  height: 180px;
}

.hero__image {
  width: 100vw;
  height: 180px;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #336699;
}

h1 {
  color: #f5f2d0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: italic;
}

h4, h3, th {
  color: #f5f2d0;
  border: solid 2px #2F4858;
  padding: 0px 20px;
  background-color: #2F4858;
}

h4 {
  text-decoration: none;
}

.nav__item {
  text-decoration: none;
}

th {
  white-space: nowrap;
  padding: 0px;
  margin-bottom: 50px;
  font-style: italic;
}

tr {
  margin: 25px 0px;
}

td {
  color: #f5f2d0;
  margin: 25px 0px;
  font-weight: 500;
}

h3 {
  text-align: left;
}

.home__div, .disclaimer__div, .company__div, .fund__div, .data__div {
  background-color: #336699;
  padding-bottom: 30px;
}

h2 {
  color: #f5f2d0;
  margin-top: 0;
}

.home__button {
  padding: 5px;
}

button {
  border: 2px solid #2F4858;
  background-color: #f5f2d0;
  color: #336699;
  border-radius: 10px;
  width: 60%;
  margin-top: 20px;
}

p {
  color: #f5f2d0;
  padding: 0 5%;
}

li {
  color: #f5f2d0;
  padding: 5px 5% 5px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

ul {
  list-style: none;
  -ms-flex-line-pack: left;
      align-content: left;
  -webkit-padding-start: 0%;
          padding-inline-start: 0%;
}

@media (min-width: 760px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #2F4858;
  }
  .navbar__links {
    background-color: #2F4858;
  }
  .hero__image {
    height: 360px;
  }
  .hero {
    height: 360px;
  }
  h1 {
    padding-left: 5%;
  }
  .home__div, .disclaimer__div, .company__div, .fund__div {
    width: 80%;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 5% 0 10%;
    justify-items: center;
    padding: 3% 0 3% 0%;
  }
  .home__div, .fund__div {
    height: 300px;
  }
  .disclaimer__div {
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .data__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 5%;
    margin-left: 0;
    margin-right: 0;
  }
  table {
    border: solid 3px #f5f2d0;
  }
  th, td {
    padding: 20px;
    border: solid 3px #f5f2d0;
  }
  h3 {
    width: 100%;
    padding: 0px;
    -ms-flex-line-pack: left;
        align-content: left;
  }
  .data__div {
    width: 90%;
    margin-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (min-width: 1440px) {
  th, td {
    padding: 50px;
  }
  .home__div {
    padding: 3% 10%;
    width: 60%;
  }
  .hero__image {
    width: 80vw;
  }
  button {
    height: 50px;
  }
  .data__div {
    background-color: #2F4858;
  }
  .context {
    width: 60%;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 20%;
  }
}
/*# sourceMappingURL=App.css.map */